{{>header}}

<main role="main" class="inner cover">
  <h2 class="hinnasto" id="click" >Klassinen hieronta</h2>
  <p id="demo"></p>
  <script>
    document.getElementById("click").addEventListener("click", moreInfo);
    function moreInfo(){
      var x = document.getElementById("demo")
      if (x.innerHTML === "") {
        x.innerHTML = "30min 30€</br>"
                      +"45min 35€</br>"
                      +"60min 45€</br>"
                      +"75min 55€</br>"
                      +"90min 60€</br>"
      } else {
        x.innerHTML = "";
      }
    }
  </script>
  <hr>

  <h2 class="hinnasto" id="click2">Kuumakivihieronta</h2>
  <p id="demo2"></p>
  <script>
    document.getElementById("click2").addEventListener("click", moreInfo);
    function moreInfo(){
      var x = document.getElementById("demo2")
      if (x.innerHTML === "") {
        x.innerHTML = "30min 35€</br>"
                     +"45min 42€</br>"
                     +"60min 52€</br>"
                     +"75min 65€"

      } else {
        x.innerHTML = "";
      }
    }
  </script>
  <hr>

  <h2 class="hinnasto" id="click3">Intialainen päähieronta</h2>
  <p id="demo3"> </p>

  <script>
    document.getElementById("click3").addEventListener("click", moreInfo);
    function moreInfo(){
      var intialainenInfo = "45min 40€"
      var x = document.getElementById("demo3")
      if (x.innerHTML === "") {
        x.innerHTML = intialainenInfo
      } else {
        x.innerHTML = "";
      }
    }
  </script>
  <hr>

  <h2 class="hinnasto" id="click4">Klassinen hieronta + Intialainen päähieronta -yhdistelmähoito</h2>
  <p id="demo4"></p>
  <script>
    document.getElementById("click4").addEventListener("click", moreInfo);
    function moreInfo(){
      var x = document.getElementById("demo4")
      if (x.innerHTML === "") {
        x.innerHTML = "30min + 30min 45€"
      } else {
        x.innerHTML = "";
      }
    }
  </script>
  <hr>

  <h2 class="hinnasto" id="click5">Perinteinen jäsenkorjaus (harjoitushoitona)</h2>
  <p id="demo5"></p>
  <script>
    document.getElementById("click5").addEventListener("click", moreInfo);
    function moreInfo(){
      var x = document.getElementById("demo5")
      if (x.innerHTML === "") {
        x.innerHTML = "150min - 180min 45€"
      } else {
        x.innerHTML = "";
      }
    }
  </script>
  <hr>
</main>

{{>footer}}
