{{>header}}

<main role="main" class="inner cover">
  <h2>Klassinen hieronta alkaen 30€</h2>
  <hr>
  <h2>Kuumakivihieronta alkaen 35€</h2>
  <hr>
  <h2>Intialainen päähieronta 40€</h2>
  <hr>
  <h2>Perinteinen jäsenkorjaus harjoitushoitona 45€</h2>
  <hr>
</main>

{{>footer}}
