{{>header}}

<main role="main" class="inner cover">
  <h1 class="cover-heading">Suvi ja Mette</h1>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Fusce tempus condimentum orci ac cursus. Mauris at efficitur nisi.
      Nullam rutrum rutrum libero eu vehicula. Cras mollis consequat sapien,
      ut scelerisque erat faucibus in. Aliquam erat volutpat. Suspendisse convallis,
      leo non rutrum ultrices, neque felis varius tortor, nec interdum turpis nibh vel velit.</p>
  <p class="lead">
    <a href="https://timma.fi/koulutetuthierojatsuvijamette" class="btn btn-lg btn-secondary">Varaa aika</a>
  </p>
</main>

{{>footer}}
