{{>header}}

<span class="mq-value"></span>

<main role="main" class="inner cover">
  <h1 class="cover-heading">Suvi ja Mette</h1>
  <p class="lead">Hei, olemme Suvi ja Mette, koulutetut hierojat Kotkasta. Aloitimme hierojan opinnot vuoden 2017 tammikuussa Kotkan Hierojakoulussa. Valmistuimme koulutetuiksi hierojiksi 2017-2018 vuodenvaihteessa läpäistyämme näyttötutkinnot hyväksytysti.</p>
                  <p class="lead">Koulutuksemme sisälsi kattavasti mm. hierojan ammatinperusteita, tuki- ja liikuntaelimistön anatomiaa ja fysiologiaa, hierontatekniikoita, urheiluhierontaotteita ja urheilijan lihashuoltoa, asiakkaan tutkimista, liiketestausta,
                  ohjausta ja neuvontaa, fysikaalisia hoitoja, hierojaa koskevaa lainsäädäntöä, sekä niveltoimintaa ylläpitäviä ja edistäviä hoitomuotoja ja käsittelytekniikoita. </p>
                  <p class="lead">Idea yhteisestä toimitilasta syntyi jo pian valmistumisemme jälkeen. Tuolloin molemmat tekivät kuitenkin vielä hierojan töitä muualla ja hetki ei ollut oikea.
                  Yhteisen toimitilan perustaminen tuntui kuitenkin järkevältä ajatukselta ja pitkään suunniteltuamme ja sopivan toimitilan löydyttyä avasimme toimitilan maaliskuussa 2019 Kotkansaarelle.</p>
                  <p class="lead">Tällä hetkellä palveluihimme kuuluvat klassinen hieronta, kuumakivihieronta, intialainen päähieronta.</p>
                  <p class="lead">Toivotamme sinut lämpimästi tervetulleeksi terveys- ja hyvinvointipalveluihimme!</p>
  <p class="lead">
    <a href="https://varaa.timma.fi/koulutetuthierojatsuvijamette" class="btn btn-lg btn-secondary">Varaa aika</a>
  </p>
</main>

{{>footer}}
