{{>header}}

<main role="main" class="inner cover">
  <img src="img/uudet/mette.jpg" class="bd-placeholder-img rounded-circle" width="280" height="355" style="margin-top:20px;">
  <h1 class="cover-heading">Mette</h1>
  <p class="lead">Olen Mette Snellman, reilu parikymppinen liikuntaneuvoja, personal trainer ja koulutettu hieroja, sekä suoritan parhaillaan liikunnanohjaajan AMK-tutkintoa.
     Hyvinvointi- ja liikunta-alalle päädyin oman yleisurheilu harrastuksen ja kilpaurheilun kautta. Halusin auttaa ja ohjata myös muita liikkumaan ja palautumaan, sekä saavuttamaan sen hyvän olon tunteen mitä liikunnasta ja hierojalla käymisestä saa.
     Kilpaurheilun lopetettuani olen ymmärtänyt, ettei liikunnan tarvitse aina olla verenmaku suussa treenaamista, vaan välillä kävelylenkki metsikössä tai käynti hierojalla on se mistä kroppa eniten hyötyy.
     Tällä hetkellä liikunnanohjauksen ja yksilö- ja ryhmävalmennuksen lisäksi palveluihini kuuluvat klassinen hieronta, sekä intialainen päähieronta.</p>
  <a>Ota yhteyttä</a><br>
  <a href="tel: +358440504951">044 050 4951</a><br>
  <a href="mailto: pt.m.snellman@gmail.com">pt.m.snellman@gmail.com</a>
</main>

{{>footer}}
