{{>header}}

<main role="main" class="inner cover">
  <h2 class="hinnasto" id="click" >Klassinen hieronta</h2>
  <p id="demo"></p>
  <script>
    document.getElementById("click").addEventListener("click", moreInfo);
    function moreInfo(){
      var x = document.getElementById("demo")
      if (x.innerHTML === "") {
        x.innerHTML = "Klassinen hieronta on hyvin perinteinen hoitomuoto, jossa käsitellään ja muokataan pehmeitä kudoksia"
                      +" hyödyntäen erilaisia hierontaotteita."
                      +" Hieronnan tavoite on tuottaa asiakkaalle hyvää oloa ja helpottaa ja ennaltaehkäistä mahdollisia vaivoja."
                      +" Klassinen hieronta sopii kaikille iästä tai ammatista riippumatta. Hoito tehdään aina asiakkaan tarpeiden"
                      +" ja toiveiden mukaan.<br />"
                      +" Hyötyjä:"
                      +"<li>Niska-hartiaseudun särkyjen ja jännityspäänsäryn hoito</li>"
                      +"<li>Vilkastuttaa verenkiertoa ja lisää hapen ja ravinteiden kulkua sekä poistaa kuona-aineita</li>"
                      +"<li>Rentouttaa lihaksia ja lievittää kipua</li>"
                      +"<li>Migreenin jälkihoito</li>"
                      +"<li>Palautumisen nopeutuminen fyysisestä kuormituksesta</li>"
                      +"<li>Stressin lievittäminen ja rentoutuminen</li>"
                      +"<li>Helpottaa unettomuutta</li>"
                      +"<li>Vamman nopeampi paraneminen</li>"
                      +"<li>Turvotuksen vähentäminen</li>"
                      +"<li>Parantaa nivelten liikkuvuutta</li>"
      } else {
        x.innerHTML = "";
      }
    }
  </script>
  <hr>

  <h2 class="hinnasto" id="click2">Kuumakivihieronta</h2>
  <p id="demo2"></p>
  <script>
    document.getElementById("click2").addEventListener("click", moreInfo);
    function moreInfo(){
      var x = document.getElementById("demo2")
      if (x.innerHTML === "") {
        x.innerHTML = "Kuumakivihieronnassa ja klassisessa hieronnassa ovat samat vaikutusmekanismit, mutta lämpimien"
                      +" kivien ansiosta hieronnan vaikutukset ja rentoutuminen tehostuvat."
                      +" Kuumakivihieronnassa vaihtoehtoina kevyempi hemmotteluhoito tai tehokkaampi hieronta, jossa"
                      +" kuumien kivien lisäksi voidaan käyttää klassisen hieronnan otteita, jolloin hieronnasta tulee lihasta"
                      +" muokkaavampi."
                      +" Hoito suunnitellaan aina asiakkaan toiveiden ja tarpeen mukaan."
      } else {
        x.innerHTML = "";
      }
    }
  </script>
  <hr>

  <h2 class="hinnasto" id="click3">Intialainen päähieronta</h2>
  <p id="demo3"> </p>

  <script>
    document.getElementById("click3").addEventListener("click", moreInfo);
    function moreInfo(){
      var intialainenInfo = "Intialainen päähieronta toimii kokonaisvaltaisesti vaikuttaen kehoon ja mieleen. Se rentouttaa, rauhoittaa ja kirkastaa ajatuksia. "
                            +"Intialainen päähieronta sopii erinomaisesti monillekin tuttuun hektiseen ja stressaavaan elämänrytmiin rauhoittavana ja stressiä lieventävänä hoitona. "
                            +"Hieronnan aikana käsitellään pään alueen lisäksi myös niska-hartiaseutu. Päähieronta vilkastuttaa verenkiertoa, helpottaa päänsärkyä ja migreeniä, "
                            +"rentouttaa sekä helpottaa hartioiden ja niskan jännitystä. Hoito suoritetaan tuolilla istuen vaatteet päällä.<br>Intialaisen päähieronnan vaikutuksia: "
                            +"<li>Rentoutunut olo</li><li>Stressiperäisten oireiden lievittyminen</li><li>Kehon normaalin tasapainon palautuminen</li><li>Keskittymiskyvyn lisääntyminen</li>"
                            +"<li>Migreenin oireiden ja keston väheneminen</li><li>Päänsäryn hellittäminen</li> <li>Vastustuskyvyn paraneminen</li><li>Verenkierron vilkastuminen</li>"
                            +"<li>Hiusten lisääntynyt kasvu ja kunnon paraneminen</li> <li>Unen laadun paraneminen </li>"
      var x = document.getElementById("demo3")
      if (x.innerHTML === "") {
        x.innerHTML = intialainenInfo
      } else {
        x.innerHTML = "";
      }
    }
  </script>
  <hr>

  <h2 class="hinnasto" id="click4">Klassinen hieronta + intialainen päähieronta -yhdistelmähoito</h2>
  <p id="demo4"></p>
  <script>
    document.getElementById("click4").addEventListener("click", moreInfo);
    function moreInfo(){
      var x = document.getElementById("demo4")
      if (x.innerHTML === "") {
        x.innerHTML = "Katso lisää kohdista klassinen hieronta ja intialainen päähieronta."
      } else {
        x.innerHTML = "";
      }
    }
  </script>
  <hr>

  <h2 class="hinnasto" id="click6">Kotikäynnit ja lahjakortit</h2>
  <p id="demo6"></p>
  <script>
    document.getElementById("click6").addEventListener("click", moreInfo);
    function moreInfo(){
      var x = document.getElementById("demo6")
      if (x.innerHTML === "") {
        x.innerHTML = "Tulemme myös yritys- ja kotikäynneille, sekä eri tilaisuuksiin sovittaessa. Meiltä on mahdollista ostaa myös lahjakortteja."
      } else {
        x.innerHTML = "";
      }
    }
  </script>
  <hr>
</main>

{{>footer}}
