{{>header}}

<main role="main" class="inner cover">
  <img src="img/suvi.jpg" class="bd-placeholder-img rounded-circle" width="280" height="280" style="margin-top:20px;">
  <h1 class="cover-heading">Suvi</h1>
  <p class="lead">Olen Suvi Perälä, Kotkasta. Hain hierojakouluun koska minua on aina innostanut terveyteen ja
     hyvinvointiin liittyvät asiat.
     Valmistuin koulutetuksi hierojaksi tammikuussa 2018 ja aloitin työskentelyt hierojana paikallisessa
     kauneushoitolassa. Klassisen hieronnan lisäksi teen myös kuumakivihierontaa.
     Vuonna 2018 aloitin perinteisen jäsenkorjauksen opinnot laajentaakseni osaamista ihmiskehon
     hoitamiseen. Teen perinteitä jäsenkorjausta harjoitushoitoina.</p>
  <a>Ota yhteyttä</a><br>
  <a href="tel: +358451575057">04515750557</a><br>
  <a href="mailto: osuvin@outlook.com">osuvin@outlook.com</a>
</main>

{{>footer}}
