{{>header}}

<main role="main" class="inner cover">
    <div class="row profile" style="margin-top:20px;">
      <div class="col-lg-4">
        <img src="img/suvi.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140">
        <h2>Suvi</h2>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.
          Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="img/mette.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140">
        <h2>Mette</h2>
        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula,
          eget lacinia odio sem nec elit. Cras mattis consectetur fermentum.</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <div class="embed-responsive embed-responsive-16by9">
        <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key={{>process.env.MAP_KEY}}&q=hierojasuviperälä,kotka" allowfullscreen class="embed-responsive-item"></iframe>
    </div>
</main>

{{>footer}}
