{{>header}}

<main role="main" class="inner cover">
    <div class="row profile" style="margin-top:20px;">
      <div class="col-lg-4">
        <img src="img/suvi.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140">
        <h2>Suvi</h2>
        <p>Olen Suvi Perälä, Kotkasta. Hain hierojakouluun koska minua on aina innostanut terveyteen ja
           hyvinvointiin liittyvät asiat.
           Valmistuin koulutetuksi hierojaksi tammikuussa 2018 ja aloitin työskentelyt hierojana paikallisessa
           kauneushoitolassa. Klassisen hieronnan lisäksi teen myös kuumakivihierontaa.
           Vuonna 2018 aloitin perinteisen jäsenkorjauksen opinnot laajentaakseni osaamista ihmiskehon
           hoitamiseen. Teen perinteitä jäsenkorjausta harjoitushoitoina.</p>
        <a>Ota yhteyttä</a>
        <a href="tel: +358451575057">04515750557</a>
        <a href="mailto: osuvin@outlook.com">osuvin@outlook.com</a>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="img/mette.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140">
        <h2>Mette</h2>
        <p>Olen Mette Snellman, reilu parikymppinen liikuntaneuvoja, personal trainer ja koulutettu hieroja sekä suoritan parhaillaan liikunnanohjaajan AMK-tutkintoa.
           Hyvinvointi- ja liikunta-alalle päädyin oman yleisurheilu harrastuksen ja kilpaurheilun kautta. Halusin auttaa ja ohjata myös muita liikkumaan ja palautumaan, sekä saavuttamaan sen hyvän olon tunteen mitä liikunnasta ja hierojalla käymisestä saa.
           Kilpaurheilun lopetettuani olen ymmärtänyt, ettei liikunnan tarvitse aina olla verenmaku suussa treenaamista, vaan välillä kävelylenkki metsikössä tai käynti hierojalla on se mistä kroppa eniten hyötyy.
           Tällä hetkellä liikunnanohjauksen ja yksilö- ja ryhmävalmennuksen lisäksi palveluihini kuuluvat klassinen hieronta sekä intialainen päähieronta.</a>
        <a href="tel: +358440504951">0440504951</a>
        <a href="mailto: pt.m.snellman@gmail.com">pt.m.snellman@gmail.com</a>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <div class="embed-responsive embed-responsive-16by9" style="margin-top:20px;">
        <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key={{mapKey}}&q=hierojasuviperälä,kotka" allowfullscreen class="embed-responsive-item"></iframe>
    </div>
</main>

{{>footer}}
