{{>header}}

<main role="main" class="inner cover">
    <div class="row profile" style="margin-bottom:20px; margin-top:20px;">
      <div class="col-lg-4"  style="margin-bottom:20px;">
        <img src="img/uudet/suvi.jpg" class="bd-placeholder-img rounded-circle" width="140" height="177">
        <a href="/suvi"><h2>Suvi</h2></a>
        <p>Koulutettu hieroja</br>
           Jäsenkorjaaja opiskelija</p>
        <a>Ota yhteyttä</a><br>
        <a href="tel: +358451575057">04515750557</a><br>
        <a href="mailto: osuvin@outlook.com">osuvin@outlook.com</a>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="img/uudet/mette.jpg" class="bd-placeholder-img rounded-circle" width="140" height="177">
        <a href="mette"><h2>Mette</h2></a>
        <p>Koulutettu hieroja</br>
           Liikuntaneuvoja</br>
           Personal trainer
        </p>
        <a>Ota yhteyttä</a><br>
        <a href="tel: +358440504951">0440504951</a> <br>
        <a href="mailto: pt.m.snellman@gmail.com">pt.m.snellman@gmail.com</a>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <div>
      <img src="/img/uudet/P1088562.jpg" alt="toimitila" class="rounded img-fluid" style="width:600px; height:auto;">
    </div>

    <div class="embed-responsive embed-responsive-16by9" style="margin-top:20px;">
        <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key={{mapKey}}&q=hierojasuviperälä,kotka" allowfullscreen class="embed-responsive-item"></iframe>
    </div>
</main>

{{>footer}}
