    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p id="footerText">Puistotie 9-11 48100 Kotka.</p>
      </div>
    </footer>
    <script src=/js/media.js></script>
</div>
</body>
</html>
